* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

#home{
 width: 80px;
 height: 35px;
 border-radius: 25px;
 background-color: #f6cc95;
 border: 1px solid orange;
}

.gameBox{
    width:385px;
    height:335px;
    min-width: 300px;
    background-color: rgb(208, 220, 152);
    margin: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:monospace;
}

/* .gameBox:hover{
    background-color:rgb(189, 200, 140) ;
    transform: scale(1.01);
} */

img{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.gameImg{
    width: 90%;
    height: 80%;
    margin-top: 10px;
    background-color: rgb(189, 228, 177);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gameName{
    width: 90%;
    height:15% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.selected{
    width:80%;
    height:90%;
    font-size: 38px;
}

